@import "@variables";

.footer {
  padding: 29px;

  display: flex;
  justify-content: space-between;

  background: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
  }
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 10px;

  font-weight: 400;

  a {
    transition: color 0.2s ease;
  }

  a:hover {
    color: $orange;
  }
}

.optionsLanguage {
  grid-row: span 2;

  div {
    height: 100%;
    display: flex;
    align-items: flex-end;
    gap: 17px;
  }

  svg {
    width: 22px;
    height: 22px;
  }

  button {
    font-size: 15px;
    font-weight: 700;
    transition: color 0.2s ease;

    &:hover {
      color: $orange;
    }
  }
}

.active {
  color: $orange;
}

.socials {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 18px;

  a {
    display: flex;
  }

  svg path {
    transition: all 0.3s ease;
  }
}

.socialVk:hover path {
  fill: #5181b8;
}

.socialTelegram:hover path {
  fill: #28a9e8;
}

.socialWhatsapp:hover path {
  fill: #14fe3b;
}
