@import "./assets/styles/normalize.css";
@import "./assets/styles/reset.css";

body {
  background: #eaeaea;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.content {
  max-width: 1140px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  flex-direction: column;
}

.page-content {
  flex-grow: 1;
}
